<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="pageFragments/myPageFragments/myPageHead :: head">

</head>

<body>

	<header	th:replace="pageFragments/myPageFragments/myPageHeader :: header">
	</header>

	<main>
	<div class="container-fluid">
		<h3 class="text-center">Dodaj zdjecie do gallerii pokojowe</h3>
		
		<div th:replace= "pageFragments/myPageFragments/showPicture :: show">
			
		</div>
		
		<div class="form">
			<form action="/upload/uploadRoom" th:action="@{/upload/uploadRoom}"
				method="post" enctype="multipart/form-data">
				<input class="btn" type="file" name="files" multiple>
				<input class="btn" type="submit" value="Dodaj zdjecia">

			</form>
		</div>
		
		<h3> Zdjecia w galerii pokojowe</h3>
	
		<div class="row">
			<div class="col-sm-2 gallery-item" th:each="room: ${rooms}">
				<section>
					<div>
						<img class="img-responsive gallery-image" th:src="'/images/rooms/' + ${room.name}">
					</div>
				</section>
			</div>				
		</div>
	</div>
	</main>

</body>
</html>