.login-container{
	margin-left:auto;
	margin-right:auto;
	margin-top:1rem;
	width:400px;
	height:430px;
	text-align:center;
	padding-top:3rem;
	border:1px solid black;
	border-radius: 5px;
}
@media only screen and (min-width: 576px){
	.login-container{
		margin-top: 5rem;
	}
}


label{
	padding-top: 1rem;
	padding-bottom:0.1rem;
	font-size:20px;
}

input{
	width:70%;
	padding:0.5rem;
	border:0.1px solid black;
}

.btn{
	margin-top:1rem;
	padding:0.5rem 4rem 0.5rem 4rem;
}