<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="icon" th:href="@{/img/icon.png}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/login.css}"/>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>


    <title>Meble Idzikowski</title>

  </head>
  <body data-spy="scroll" data-target="#menu" data-offset="90"> 

    <div class="col login-container">
        <h1>ZALOGUJ SIE</h1>

		<div  th:if="${loginError}" class= " alert-danger">
		 <span>Niepoprawny login lub hasło</span>
		</div>
		
        <form action="/mylogin" th:action="@{/mylogin}" method="post" >
       		<label>Nazwa uzytkownika:</label><br>
         			<input type="text" name="username" ><br>
       	
           	<label>Haslo:</label><br>
          			<input type="password" name="password"><br>
         
           	<button class="btn btn-outline-primary" type="submit">zaloguj</button>
        </form>
    </div>
		
  </body>
</html>