<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment = "head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="icon" th:href="@{/img/icon.png}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/baguetteBox.min.css}"/>
	<link rel="stylesheet"th:href="@{/css/style.css}"/>
	
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{js/baguetteBox.min.js}"></script>
	<script th:src="@{/js/ajaxJquery.min.js}"></script>
    <title>Meble Idzikowski</title>

</head>
<body>

</body>
</html>