<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<footer th:fragment="footer">
		
		<!-- PRODUCER SECTION -->
			
			<section id="producer">
				<div class="carousel slide" data-ride="carousel">
					 <div class="carousel-inner">
					    <div class="carousel-item active">
					    	<div class="row">
						    	<div class="col-md-4 my-auto ">
						    		<img class="producer-image" src="/producer/sevroll.png" alt="SEVROLL">
						    	</div>
						    	<div class="col-md-4 my-auto">
						    		<img class="producer-image" src="/producer/Blum.png" alt="BLUM">
						    	</div>
						    	
						    	<div class="col-md-4 my-auto">
						    		<img class="producer-image py-3" src="/producer/hafele.png" alt="HAFELE">
						    	</div>
						    </div>
					    </div>
					    <div class="carousel-item">
					    	<div class="row">
					    		<div class="col-md-2 d-none d-md-block my-3"></div>
						     	<div class="col-md-3 my-auto ">
						    		<img class="producer-image" src="/producer/eegger.png" alt="EEGGER">
						    	</div>
						    	<div class="col-md-2 my-3" ></div>
						    	<div class="col-md-3 my-auto ">
						    		<img class="producer-image" src="/producer/Hettich.png" alt="HETTICH">
						    	</div>
						    </div>
					    </div>
					 </div>
				</div>
			</section>
			
		<!-- Contact SECTION -->
		
			<div id="contact"  class="container-fluid">
				<div class="col" >
					<img src="/img/logo.png" class="img d-block mx-auto">
				</div>
				<div class="row mt-3">
					<div class="col-md-3"></div>
					<div class="col-md-3 text-center my-auto">
						<h3><p>Remigiusz Idzikowski</p></h3>
						<p>Ślizów 93<br>
						56-500 Syców<br>
						tel.: 695 903 354</p>
						<p>NIP: 9111957734</p>
					</div>
					<div class="col-md-4 text-center ">
						<div class="col icon-contact">
							<a href="https://www.facebook.com/mebleidzikowski/" target="_blank" class="icon"><img src="/img/fb.png" >
							<strong > Meble Idzikowski</strong></a>
						</div >
						<div class="col icon-contact">
							<h4 class="icon"><img src="/img/phone.png" > 695 903 354</h4>
						</div>
						<div class="col icon-contact">
							<img src="/img/email.png" >
							<a href="mailto:mebleidzikowski@gmail.com" class="icon"> MebleIdzikowski</a>
						</div>
					</div>
				</div>
			</div>
		<div class="text-center">
		<hr/>
		<p>© 2017 by Meble Idzikowski.       Wszelkie prawa zastrzeżone.</p>
		</div>
	</footer>
</body>
</html>